a:link, a:visited, a:active {
    color: black;
    text-decoration: none;
}

body {
    font-family: Arial;
}

table {
    width: 80%;

    margin-left: 10%;
    
    table-layout: fixed;
    overflow: hidden;

    border-collapse: collapse;

    text-align: center;
}

td, th {
    border: 1px solid black;
    padding: 2%;

    overflow: hidden;
}

tr:hover {
    background-color: #aaaaaa;
}

th {
    background-color: #54727b;
    color: white;
}

tr:nth-child(even) {
    background-color: #c8f4ff;
}

tr:nth-child(even):hover {
    background-color: #aaaaaa;
}
        
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

        
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

       
.tab button:hover {
    background-color: #ddd;
}

       
.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}